<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302581128193-g7oso3od04gu27dl11nauuogr9kalahu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302581128193-g7oso3od04gu27dl11nauuogr9kalahu</string>
	<key>API_KEY</key>
	<string>AIzaSyAgYnXRqz5JKXdbvQukRkr8KTYjStw1ScA</string>
	<key>GCM_SENDER_ID</key>
	<string>302581128193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caelum.Anka-messenger</string>
	<key>PROJECT_ID</key>
	<string>anka-messenger</string>
	<key>STORAGE_BUCKET</key>
	<string>anka-messenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302581128193:ios:324965d116cb84d7437400</string>
</dict>
</plist>